@model IEnumerable<PwebTP.Models.Reviews>

@{
    ViewData["Title"] = "ClientHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container mt-3 mb-3">
        <h1>My Reviews</h1>
        <div class="table" style="padding:5rem;">
            <table id="searchTable" class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ReviewsId)
                        </th>
                        <th>
                           
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LocationRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EmployeeRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RoomRating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Comment)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayNameFor(model => model.ReviewsId)
                            </td>
                            <td>
                               
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LocationRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EmployeeRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RoomRating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Comment)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

<style>

    h1 {
        padding-top: 1em;
        padding-bottom: 10px;
        font-family: 'Playfair Display';
    }

    .table {
        background: #fff;
        overflow-y: auto;
        box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.5);
        border-radius: 5px;
    }

    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
    }

        table thead th,
        table tbody td {
            padding: 15px;
            border: none;
            font-weight: 600;
            font-size: 14px;
        }

        table thead th {
            vertical-align: middle;
            background: rgb(33,33,39);
            background: linear-gradient(90deg, rgba(33,33,39,1) 0%, rgba(33,33,39,1) 100%, rgba(33,33,39,1) 100%);
            color: white;
            font-size: 16px;
            position: sticky;
            top: -1%;
            font-family: 'Playfair Display';
        }


        table tbody td {
            border-bottom: 1px solid rgba(0,0,0,0.1);
           
        }

    .page-item.active .page-link {
        color: #fff !important;
        background-color: #000 !important;
        border-color: #000 !important;
    }

    .page-link {
        color: #000 !important;
        background-color: #fff !important;
        border: 1px solid #dee2e6 !important;
    }

        .page-link:hover {
            color: #fff !important;
            background-color: #000 !important;
            border-color: #000 !important;
        }
</style>


        @section Scripts{

            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

            <script>
        $(document).ready(function () {

            $('#searchTable').DataTable({

                "scrollY": "450px",
                "scrollCollapse": true,
                "paging": true,
                "ordering": false

            });

        });


            </script>
        }
